 
 hr {
  background-color: #C6C6C6;
  border: 0;
 }
  
  .profile-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .profile-picture {
    width: 150px;
    height: 150px;
    border: 1px solid #C6C6C6;
    -webkit-box-shadow: 0px 0px 15px 1px #C6C6C6;
    -moz-box-shadow: 0px 0px 15px 1px #C6C6C6;
    box-shadow: 0px 0px 15px 1px #C6C6C6;
  }

  .small-title {
    color: #246BEB;
  }
  
  .invitation-image {
    -webkit-box-shadow: 0px 2.5px 4px 0px rgba(198,198,198,1);
    -moz-box-shadow: 0px 2.5px 4px 0px rgba(198,198,198,1);
    box-shadow: 0px 2.5px 4px 0px rgba(198,198,198,1);
  }

  .event-date {
    color: #555555;
  }

  .event-location {
    color: #717171;
  }
  
  .view-button {
    background: none;
    border: none;
    color: #8E8E8E;
    cursor: pointer;
  }

  .send-invitation {
    border-right: 1px solid #E4E4E4;
  }

  .invitation-count {
    color: #246BEB
  }
  
  .box-shadow {
    -webkit-box-shadow: 0px 2px 5px 1px rgba(198,198,198,1);
    -moz-box-shadow: 0px 2px 5px 1px rgba(198,198,198,1);
    box-shadow: 0px 2px 5px 1px rgba(198,198,198,1);
  }
  
  .member-info {
    background-color: #f8f8f8;;
  }

  .info-value {
    color: #555555;
  }
  
